@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;
    min-height: 100vh;
    color: hsl(0, 6%, 24%);
    background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
#logo{
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    display: block;
}
#hero{
    width: 100%;
    margin-top: 30px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.6rem;
    letter-spacing: 10px;
}
.pink-h1{
    margin-top: 60px;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
.text{
    color: hsl(0, 36%, 70%);
    font-size: 0.87rem;
    text-align: center;
    padding: 16px 30px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 16px;
}

.input-mail{
    border: 0.7px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    width: 82%;
    margin: auto;
    margin-bottom: 90px;
    display: flex;
}
#input-m{
    background-color: transparent;
    height: 45px;
    width: 80%;
    border-radius: 30px 0px 0px 30px;
    padding-left: 25px;
    border: transparent;
}
#input-m::placeholder {
    color: #e5d2d3; 
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}
#button{
    min-height: 100%;
    width: 20%;
    border-radius: 30px;
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px hsl(0, 74%, 74%);
}
#button:hover{
    cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }